	*{
		font-size: 0.9em;		
		margin: 1px;
		padding: 3px;
	}
	.ele{
		display: flex;
  		justify-content: center;
		width: 100px;
		color: red;
		display: inline-flex;
		border: 1px solid grey;
	}
	.attr{
		width: 100px;
		color: green;
		display: inline-block;
		border: 1px solid grey;
	}
	.txt{
		width:240px;
		font-size: 0.8em;			
		color: blue;
		display: inline-flex;		
		border: 1px solid #AAA;
	}
	.vacio{
		width:100px;
		background-color: #CCC;
		font-size: 0.8em;			
		color: grey;
		display: inline-flex;		
		border: 1px solid #AAA;
	}