/*CSS enlazado a dw2e-DRAGANDDROP-14915-PuertaGallegoAlfredo.htm (Ejercicio JS - Drag and drop)*/

.contenedor, .heading, .filter, div[id^='caja'], .elem, .etiqueta-borrar, .etiqueta-añadir, .elemento{
    border: 1px solid black;
    border-radius: 5px;
}

.contenedor{
    float: left;
    margin: auto;
}

.contenedor *{margin: 5px;}
.etiqueta-añadir{background-color: lime; text-align: center;}
.heading{background-color: cyan; text-align: center;}
.etiqueta-borrar:hover{background-color: #999; text-align: center;}
.elem{background-color: bisque; text-align: center;}
#cajaCont{
    display: flex;
    flex-direction: column;
}